@{
    ViewBag.Title = "Pagina inicial";
}

<d>
<center>
    <div >
        <h1>CWquIz</h1>
        <p class="lead">CWquIz é uma aplicação desenvolvida no projeto Crescer da empresa CWI Software.</p>
        <h2>Começando</h2>
        <p>
            Primeiramente, é necessário @Html.ActionLink("registrar-se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) para jogar, ao estar logado, você perceberá que possui acesso ao jogo e ao Ranking.
        </p>
    </div>
    <div >
        <h2>Regras</h2>
        <p>O jogo é muito simples, você pode selecionar uma categoria e uma dificuldade e o jogo irá começar, serão 10 perguntas referentes à categoria, quanto mais rápido as perguntas forem respondidas, mais pontos o usuário acumulará.</p>
    </div>
    <div >
        <h2>Dificuldades</h2>
        <p>As dificuldades são uma parte importante do jogo, quanto maior a dificuldade escolhida, menos tempo o jogador terá para responder as perguntas, mas ao mesmo tempo, as questões valerão mais pontos.</p>
    </div>
</center>
