@{
    ViewBag.Title = "Details";

}

<h2>
    Details
</h2>


<h1 class="questao"></h1>
<p><a class="btn btn1 btn-primary btn-lg"></a></p>
<p><a class="btn btn2 btn-primary btn-lg"></a></p>
<p><a class="btn btn3 btn-primary btn-lg"></a></p>
<p><a class="btn btn4 btn-primary btn-lg"></a></p>


@section Scripts{
    <script>
        //alert(qtdRestaurantes);

        var questao = $('.questao');

        var sortearOrdemPergunta = {};
        var OrdemRespostas = {};
        var sortearOrdemRespostas = {};
        var questaoCerta = {};


        $.get('@Url.Action("Perguntas", "Quiz", new { id = @ViewBag.id })')
          .done(function (response) {


              sortearOrdemPergunta = jQuery(response).get().sort(function () {
                  return Math.round(Math.random()) - 0.5
              }).slice(0, 5);
              remover();
          });



        function remover() {
            questaoAtual = sortearOrdemPergunta[0];
            sortearOrdemPergunta.splice(0, 1);
            mostraQuestao(questaoAtual);

        }

        $(function () {
            $('.btn').click(function () {
                remover();
            });
        })


    


        function mostraQuestao(questaoAtual) {

            questao.text(questaoAtual.Questao);
            questaoCerta = questaoAtual.Resposta;
            console.log('Certa:' + questaoCerta);

            ordemRespostas = [questaoAtual.Resposta, questaoAtual.erradoA, questaoAtual.erradoB, questaoAtual.erradoC];


            sortearOrdemRespostas = jQuery(ordemRespostas).get().sort(function () {
                return Math.round(Math.random()) - 0.5
            }).slice(0, 5);

            $('.btn1  ').text(sortearOrdemRespostas[0]).addClass(sortearOrdemRespostas[0]);
            $('.btn2  ').text(sortearOrdemRespostas[1]).addClass(sortearOrdemRespostas[1]);
            $('.btn3  ').text(sortearOrdemRespostas[2]).addClass(sortearOrdemRespostas[2]);
            $('.btn4  ').text(sortearOrdemRespostas[3]).addClass(sortearOrdemRespostas[3]);

        };


    </script>



}