@model IEnumerable<Quiz.Dominio.Categoria>
@{
    ViewBag.Title = "Index";
}

<h2>Escolha uma Categoria</h2>


@foreach (var item in Model)
{
    @Html.ActionLink(@item.Nome, "Perguntas", new { id = item.Id }, new { @class = "btn btn-default" })



}
